googletrans==4.0.0-rc1   #Language translator
pyttsx3 # Text to speech conversion library in python
streamlit

google-generativeai  
#pip install -r requirements.txt ===>all the dependencies will install
